* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --DarkBlue: hsl(217, 28%, 15%);
    --DarkBlue: hsl(218, 28%, 13%);
    --DarkBlue: hsl(216, 53%, 9%);
    --DarkBlue: hsl(219, 30%, 18%);
    --Cyan: hsl(176, 68%, 64%);
    --Blue: hsl(198, 60%, 50%);
    --LightRed: hsl(0, 100%, 63%);
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    padding: 70px 0;
}
header li {
    display: inline-block;
    margin-left: 56px;
    transition: all .35s linear;
}
a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}
header li:hover {
    transform: scale(1.4);
    text-decoration: underline;
}
header li a, h1,h2,h3,h4,h5,h6, button {
    font-family: "Raleway", sans-serif;
}
div.curved-bottom {
    background-image: url("./images/bg-curvy-desktop.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: hsl(219, 30%, 18%);
    background-size: 100%;
}
main {
    width: 732px;
    margin: 0 auto;
    text-align: center;
}
main h1 {
    font-size: 2.5rem;
    padding: 45px 10px;
    line-height: 1.5;
}
main p {
    font-size: 1.3rem;
    padding: 0 40px 32px;
}
main article {
    padding-bottom: 185px;
}
button {
    background-image: linear-gradient(to right, var(--Cyan), var(--Blue));
    border: none;
    border-radius: 60px;
    color: white;
    padding: 25px 97px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}

section.dark-blue {
    background-color:hsl(218, 28%, 13%);
    margin: -2px;
}
section.dark-blue div.container {
    width: 877px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

section#testaments::before {
    content: "";
    position: absolute;
    background-image: no-repeat;
    background-image: url(./images/bg-quotes.png);
    width: 55px;
    height: 40px;
    transform: translate(25px, -15px);
}
section.testaments.one {
    position: relative;
    z-index: 10;
}
div.container div.box {
    width: 362px;
    padding-bottom: 95px;
}
div.box div.image{
    height: 82px;
    display: grid;
    place-items: center; 
    margin: 20px 0 30px;
}
div.box h3 {
    padding-bottom: 10px;
}

div.another-part {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0 175px;
}
div.another-part div.illustration {
    width: 616px;
}
div.another-part div.illustration img {
    max-width: 100%;
}
aside.texts {
    width: 544px;
    padding: 20px;
}
aside.texts h2 {
    font-size: 2.6rem;
    padding-bottom: 35px;
}
aside.texts p {
    padding-bottom: 25px;
    line-height: 1.7;
}
aside.texts a {
    color:hsl(176, 68%, 64%);
    width: 154px;
    padding: 0 0 3px;
    border-bottom: 1px solid var(--Cyan);
}
aside.texts a img {
    margin-left: 10px;
}

section#testaments {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 76px;
}
section.one {
    background-color: hsl(219, 30%, 18%);
    padding: 40px 35px;
    margin: 20px;
    box-shadow: 20px 10px 5px hsl(216, 53%, 9%);
}
section.one p {
    line-height: 1.5;
    padding-bottom: 20px;
}
section.one h5 {
    margin-bottom: 5px;
}
section.one h6 {
    font-weight: lighter;
}
section.one aside {
    display: flex;
    align-items: center;
}
section.one aside img {
    width: 30px;
    border-radius: 100%;
    margin-right: 10px;

}
form {
    background-color:hsl(217, 28%, 15%);
    box-shadow: 10px 8px #010813;
    width: 865px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 53px 76px 40px;
    text-align: center;
    /* display: none; */
    position: relative;
    top: 85px;
}
form button, form input {
    padding: 20px 32px;
    border-radius: 30px;
    outline: 0;
    border: none;
}
form input {
    padding: 22px 286px 22px 26px;
    margin-right: 25px;
}
input::placeholder {
    color: rgb(209, 205, 205);
    /* margin-left: -56px; */
}
form h3 {
    font-size: 2rem;
    padding-bottom: 32px;
}
form p {
    padding-bottom: 35px;
    line-height: 1.5;
}


footer {
    background-color: hsl(216, 53%, 9%);
    padding: 200px 0 80px;
}
div.footer {
    width: 85vw;
    margin: 0 auto;
}
nav.details {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
footer ul li {
    margin-left: 20px;
    margin-bottom: 25px;
    padding-left: 19px;
}
ul.social-icons, ul.mid-level {
    list-style: none;
}
ul.social-icons {
    display: flex;
}
ul.social-icons li {
    padding: 0;
    margin-left: 10px;
}
ul#location {
    flex-basis: 31%;
    line-height: 1.7;
}
li.location {
    list-style-image: url(./images/icon-location.svg);
}
li.phone {
    list-style-image: url(./images/icon-phone.svg);
    
}
li.email-icon {
    list-style-image: url(./images/icon-email.svg);
}
i {
    color: white;
    font-size: 10px;
    border: 2px solid white;
    border-radius: 100%;
    padding: 8px;
}
i.fa-facebook-f {
    padding: 8px 12px;
}
button:hover {
    filter: brightness(1.2);
}


@media screen and (min-width: 886px) and (max-width: 946px) {
    aside.texts h2 {
        font-size: 2.3rem;
        padding-bottom: 20px;
    }
}

@media screen and (min-width:360px) and (max-width: 873px) {
    form button {
        padding: 19px 22%;
    }
    form input {
        margin: 0;
    }
}
@media screen and (max-width: 885px){
    section#testaments::before {
        transform: translate(25px, -33px);
    }
    main div.illustration-top {
        width: 85vw;
        margin: 0 auto;
    }
    div.illustration-top img {
        max-width: 100%;
    }
    div.curved-bottom {
        background-image: url(./images/bg-curvy-mobile.svg);
        background-position: center;
    }
    section.dark-blue div.container {
        width: 80vw;
    }
    div.illustration{
        width: 40vw;
        margin: 0 auto;
    }
    div.another-part {
        padding-bottom: 80px;
    }
    section.dark-blue {
        margin-top: -22px;
    }
    section.dark-blue div.container, div.another-part {
        display: block;
        text-align: center;
    }
    div.container .box {
        margin: 0 auto;
    }
    section#testaments {
        display: block;
    }
    aside.texts {
        margin: 0 auto;
        width:inherit;
        padding-right:0;
        padding-left: 0;
        padding-top: 50px;
    }
    aside.texts p {
        padding-bottom: 25px;
    }
    aside.texts a {
        margin: 0 auto;
    }
    aside.texts h2 {
        font-size: 2.1rem;
        padding-bottom: 15px;
    }
    form {
        width: 90vw;
        padding: 53px 5% 40px
    }
    form input {
        margin-bottom: 30px;
    }
    
    footer {
        padding-bottom: 30px;
    }
    footer nav {
        flex-direction: column;
    }
    footer .social-icons {
        justify-content: center;
        margin-top: 30px;
    }
    footer .mid-level {
        padding-top: 40px;
    }
    footer .mid-level li {
        padding: 0;
        margin-left: 0;
    }
}

@media screen and (min-width: 42px) and (max-width: 728px) {
    form input {
        padding-right: 43%;
    }
    form button {
        padding: 20px 25%;
        font-size: 14px;
    }
    main article {
        padding-bottom: 10%;
    }
    main h1 {
        font-size: 1.7rem;
    }
    main p {
        font-size: .9rem;
    }
    header {
        padding: 30px 0;
    }
    header div.logo {
        width: 39%;
    }
    header div.logo img {
        width: 50%;
    }
    header nav li {
        margin-left: 21px;
    }
    div.another-part div.illustration {
        width: inherit;
        margin: 0 auto;
    }
    main {
        width: inherit;
    }
    div.container div.box {
        width: inherit;
    }
}